from os import environ as env
from discord import Embed

VERSION = "2.3.2"

RETRY_AFTER = 10 # how many tries for http requests before giving up

TOKEN = "abc123"

DBL_TOKEN = ""

RETHINKDB = {
	"PASSWORD": "",
	"PORT": 28015,
	"DB": "bloxlink",
	"HOST": "rethinkdb"
}

CLIENT_SECRET = 123

PREFIX = "!"

WEB = {
	"API": {
		"HOST": "0.0.0.0",
		"PORT": 8000
	},
	"WEBHOOKS": {
		"DBOTS_AUTH": ""
	}

}

MODULE_DIR = [
	"resources/events",
	"resources/modules"
]

GAME = f"{PREFIX}help | {PREFIX}invite | {PREFIX}setup"

WORD = [
	"oof",
	"bloxlink",
	"is",
	"cool"
]

HELP = "**Welcome to Bloxlink!**\n\n" \
	"**Support Server:** https://discord.gg/wBndznK\n" \
	"**Website:** https://blox.link/\n" \
	"**Invite:** https://blox.link/invite" \
	"**Documentation:** https://github.com/bloxlink/docs"


ERROR_CHANNEL = "123"

MAX_RETRIES = 3

OWNER = 84117866944663552

OWNER_PROFILE = "justin#1337"

DEFAULTS = {
	"autoRoles": True,
	"autoVerification": True,
	"verifiedRoleName": "Verified",
	"allowOldRoles": False,
	"dynamicRoles": True,
	"persistRoles": True,
	"nicknameTemplate": "{roblox-name}",
	"prefix": "!"

}

PATREON = {
	"CLIENT_ID": "",
	"CLIENT_SECRET": "",
	"REFRESH_TOKEN": ""
}

PERMISSION_MAP = {
	"manage_guild": "Manage Server",
	"manage_roles": "Manage Roles"
}

TEMPLATES = "\n".join({
	"{roblox-name} --> changes to their ROBLOX Username",
	"{roblox-id} --> changes to their ROBLOX ID",
	"{discord-name} --> changes to their Discord username",
	"{disable-nicknaming} --> used to disable nicknaming",
	"{group-rank} --> changes to their current rank in the linked group",
	"{group-rank-id} --> changes to their rank in THAT group specified by group ID <id>, " \
		"example: {group-rank-1337}",
	"{clan-tag} --> replaces with the user's custom !clantag",
	"{server-name} --> replaces with the server name"
}) + "\n**Note: the {} must be included in the template.**"

DONATOR_EMBED = Embed(description = "We appreciate all donations! Donations go towards **server " \
	"costs, domain costs, and other expenses.** If you'd like to be a generous soul and donate" \
	", we'll give you some **sweet perks** such as a **sweet role in our Discord and " \
	"donator-only commands.** :)")
DONATOR_EMBED.add_field(name="Patreon", value="[click](https://patreon.com/bloxlink)")
DONATOR_EMBED.add_field(name="PayPal/BTC/Stripe", value="[click](https://selly.gg/u/bloxlink)")
DONATOR_EMBED.add_field(name="Other", value="DM justin#1337")

MAGIC_ROLES = ("Bloxlink Bypass", "Bloxlink Admin", "Bloxlink Updater")