#discord.py==1.5.1
git+https://github.com/Rapptz/discord.py
rethinkdb==2.4.7
aiodns==2.0.0
cchardet==2.1.6
#sanic==19.3.1
psutil==5.7.2
PyJWT==1.7.1
python-dateutil==2.8.1
jsonpath_ng==1.5.2
async_timeout==3.0.1
aiotrello==0.0.7.6
aredis==1.1.8
async-timeout==3.0.1
hiredis==1.1.0
sentry-sdk==0.18.0
ratelimit==2.2.1
backoff==1.10.0
python-benedict==0.22.2