#git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py[voice]
git+https://github.com/Tigerism/discord.py@rewrite
yarl<1.2
rethinkdb
aiodns
cchardet
sanic
bs4
psutil
PyJWT
python-dateutil==2.6.0